
nav > ul{
    display: flex;
    justify-content: center;
}
nav li{
    list-style: none;
    margin-right: 15px;
    background-color: bisque;
    border-radius: 4px;
    font-size: 20px;
    padding: 10px 20px;
}
nav li:hover{
    background-color: blueviolet;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li .dropdown{
    display: none;
    position: absolute;
    background-color: bisque;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 12px;

}
nav li:hover > .dropdown{
    display: block;
}